@import "variable";

.single {
    &__wrapper {
        width: 100%;
        background-color: $bgColor;
    }

    &__ttl {
        padding-top: 200px;
        color: $color1;
        @include sp {
            padding-top: 120px;
        }
    }

    &_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 100px;
        padding-bottom: 80px;
        @include sp {
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }

    &__img {
        width: 340px;
        height: 230px;
        object-fit: cover;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px solid $color1;
        @include sp {
            width: 300px;
            height: 210px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &_contain {
            width: 340px;
            height: 230px;
            object-fit: contain;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 2px solid $color1;
            @include sp {
                width: 300px;
                height: 210px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    &__link {
        display: block;
        color: $color1;
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
        @include tab {
            font-size: 20px;
        }
        @include sp {
            font-size: 16px;
        }
    }

    &__txt {
        width: 70%;
        margin:  0 auto;
        padding-top: 80px;
        padding-bottom: 80px;
        color: $color1;
        font-size: 18px;
        line-height: 1.69;
        @include lineHeightCrop(1.69);
        @include tab {
            font-size: 16px;
            width: 80%;
        }
        @include sp {
            font-size: 14px;
            width: 90%;
            padding-top: 50px;
        }
    }
}