@import "variable";
@import "page-works";
@import "single";

// 共通CSS
body {
    font-family: "Futura", "Hiragino Kaku Gothic", "Hiragino Kaku Gothic ProN", serif;
}

main {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: calc(var(--vh, 1vh) * 100);
}

.fv, section {
    scroll-snap-align: start;
}

.section__ttl {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.08em;
    @include sp {
        font-size: 40px;
    }
}

.contents__inner {
    @include inner;
}





.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    @include tab {
        height: 80px;
    }
    @include sp {
        height: 60px;
    }

    &__inner {
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tab {
            padding: 15px;
        }
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        @include sp {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }

    &__mail {
        width: 50px;
        height: 50px;
        @include sp {
            width: 30px;
            height: 30px;
        }
    }

    &__twitter {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        @include sp {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }

    &__ttl {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.21;
        color: $color1;
        @include sp {
            font-size: 14px;
        }
    }
}

.fv {
    width: 100%;
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: $bgColor;
    position: relative;

    &__inner {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    &__img {
        width: 300px;
        height: 300px;
        margin-top: 60px;
        margin-bottom: 60px;
        animation: rotate 3s ease-in-out infinite;
        @include sp {
            width: 180px;
            height: 180px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(-30deg);
        }

        50% {
            transform: rotate(30deg);
        }

        100% {
            transform: rotate(-30deg);
        }
    }
    

    &__txt {
        font-size: 43px;
        font-weight: bold;
        color: $color1;
        @include sp {
            font-size: 32px;
        }
    }

    &__br {
        display: none;
        @include sp {
            display: block;
        }
    }

    &__ttl {
        font-size: 76px;
        font-weight: bold;
        color: $color1;
        @include tab {
            font-size: 55px;
        }
        @include sp {
            font-size: 45px;
        }
    }
}

.concept {
    width: 100%;
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    &:before {
        content:"";
        display:block;
        position:fixed;
        top:0;
        left:0;
        z-index: -1;
        width:100%;
        // height:100vh;
        height: calc(var(--vh, 1vh) * 100);
        background-repeat:no-repeat;
        background-position:50% 100%;
        background-image:url(../image/night-min.png);
        background-size:cover;
    }

    &__ttl {
        color: $color1;
        padding-top: 100px;
        padding-bottom: 144px;
        @include sp {
            padding-bottom: 80px;
        }
    }

    &__txt {
        width: 65%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 2;
        color: $color1;
        @include lineHeightCrop(2);
        @include tab {
            width: 80%;
            font-size: 18px;
            line-height: 1.8;
            @include lineHeightCrop(1.8);
        }
        @include sp {
            font-size: 15px;
            width: 90%;
        }
    }
}

.service {
    width: 100%;
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: $bgColor;

    &__ttl {
        color: $color1;
        padding-top: 100px;
        padding-bottom: 90px;
        @include sp {
            padding-bottom: 50px;
        }
    }

    &_flex {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @include tab {
            overflow-x: auto;
            justify-content: flex-start;
            padding-right: 30px;
            padding-left: 30px;
        }
    }

    &__box {
        width: 23%;
        overflow-y: hidden;
        @include tab {
            flex: 0 0 auto;
            width: 35%;
        }
        @include sp {
            width: 60%;
        }

        &_margin {
            width: 23%;
            margin-right: 100px;
            margin-left: 100px;
            @include tab {
                flex: 0 0 auto;
                width: 35%;
                overflow-y: hidden;
                margin-right: 80px;
                margin-left: 80px;
            }
            @include sp {
                width: 60%;
                margin-right: 60px;
                margin-left: 60px;
            }
        }

        &__img {
            display: block;
            width: 80%;
            margin: 0 auto;
        }

        &__ttl {
            text-align: center;
            color: $color1;
            font-size: 26px;
            font-weight: bold;
            padding-top: 51px;
            padding-bottom: 67px;
            @include sp {
                font-size: 20px;
                padding-top: 40px;
                padding-bottom: 40px;
            }

            &_pad {
                text-align: center;
                color: $color1;
                font-size: 26px;
                font-weight: bold;
                line-height: 1.15;
                @include lineHeightCrop(1.15);
                padding-top: 38px;
                padding-bottom: 50px;
                @include sp {
                    font-size: 20px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
            }
        }

        &__txt {
            width: 100%;
            color: $color1;
            font-size: 18px;
            line-height: 1.5;
            @include lineHeightCrop(1.5);
            @include sp {
                font-size: 15px;
            }
        }
    }
}

.works {
    width: 100%;
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);


    &__ttl {
        color: $color1;
        padding-top: 100px;
        padding-bottom: 20px;
        @include sp {
            padding-bottom: 0;
        }
    }

    &__cat img {
        display: block;
        width: 33%;
        margin: 0 auto; 
        padding-left: 200px;
        @include tab {
            padding-left: 100px;
        }
        @include sp {
            width: 220px;
        }
    }

    &__btn {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: $color1;
        line-height: 50px;
        margin-top: 80px;
        padding: 10px;
        @include sp {
            margin-top: 30px;
        }

        &__img {
            margin-right: 10px;
        }
    }
}

.swiper {
    &-container {
        width: 100%;
    }

    &-wrapper {
        width: 100%;
    }

    &-slide img {
        width: 400px;
        height: 250px;
        object-fit: cover;
        @include tab {
            width: 260px;
            height: 180px;
        }
        @include sp {
            width: 300px;
            height: 220px;
        }
    }

    &-slide {
        @include sp {
            text-align: center;
        }
        &-next {
            transform: translate3d(0px, 0px, -80.134px) rotateX(0deg) rotateY(-50.0668deg) scale(0.8) !important;
            @include tab {
                transform: translate3d(0px, 0px, -30.134px) rotateX(0deg) rotateY(-50.0668deg) scale(0.7) !important;              
            }
        }

        &-prev {
            transform: translate3d(0px, 0px, -80.134px) rotateX(0deg) rotateY(50.0668deg) scale(0.8) !important;
            @include tab {
                transform: translate3d(0px, 0px, -30.134px) rotateX(0deg) rotateY(50.0668deg) scale(0.7) !important;
            }
        }
    }
}


.about {
    width: 100%;
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding-top: 190px;
    @include sp {
        padding-top: 120px;
    }


    &__box {
        width: 640px;
        margin: 0 auto;
        background-color: white;
        padding-bottom: 60px;
        padding-right: 95px;
        padding-left: 95px;
        position: relative;
        @include sp {
            width: 90%;
            padding-bottom: 30px;
            padding-right: 20px;
            padding-left: 20px;
        }

        &__img {
            position: absolute;
            top: -168px;
            right: 35px;
            @include sp {
                width: 40%;
                top: -115px;
            }
        }
    }

    &__ttl {
        color: $color2;
        padding-top: 60px;
        padding-bottom: 30px;
        @include sp {
            padding-top: 30px;
        }
    }

    &__table {
        width: 100%;
        margin: 0 auto;

        tr {
            width: 100%;
            border-top: 1px dashed #C7C7C7;
            padding-top: 21px;
            padding-bottom: 10px;
            &:last-child {
                border-bottom: 1px dashed #C7C7C7;  
            }
            @include sp {
                padding-top: 10px;
                padding-bottom: 6px;
            }
        }

        th {
            width: 44.5%;
            padding-top: 21px;
            padding-bottom: 10px;
            padding-left: 30px;
            font-size: 18px;
            font-weight: normal;
            @include sp {
                padding-top: 10px;
                padding-bottom: 6px;
                padding-left: 10px;
                font-size: 15px;
            }
        }

        td {
            padding-top: 21px;
            padding-bottom: 10px;
            font-size: 18px;
            @include sp {
                padding-top: 10px;
                padding-bottom: 6px;
                font-size: 15px;
            }
        }
    }

    &__btn {
        display: inline-block;
        width: 200px;
        height: 50px;
        text-align: center;
        border-radius: 58px;
        line-height: 50px;
        font-size: 26px;
        font-weight: bold;
        color: $color1;
        margin: 0 auto;
        @include sp {
            width: 180px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            display: block;
            margin:  0 auto;
        }
    }
}

.twitter__btn {
    background-color: #00387B;
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 40px;
    transition: 0.5s;

    &:hover {
        background-color: #0068E5;
    }
    @include sp {
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;

    }
}

.twitter__icon {
    padding-bottom: 5px;
    @include sp {
        width: 30px;
        height: auto;
    }

}

.blog__btn {
    background-color: #BC8300;
    transition: 0.5s;

    &:hover {
        background-color: #EAA300;
    }
}

.blog__icon {
    padding-bottom: 2px;
    @include sp {
        width: 33px;
        height: auto;
        padding-bottom: 4px;
    }
}

.contact {
    width: 100%;
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #fff;
    position: relative;

    &__ttl {
        color: $color2;
        padding-top: 220px;
        @include sp {
            padding-top: 150px;
        }
    }

    &__txt {
        width: 700px;
        margin: 0 auto;
        padding-top: 120px;
        padding-bottom: 60px;
        color: $color2;
        font-size: 22px;
        line-height: 1.5;
        @include lineHeightCrop(1.5);
        @include tab {
            font-size: 18px;
        }
        @include sp {
            width: 90%;
            font-size: 16px;
            padding-top: 90px;
        }
    }

    &__address {
        font-size: 55px;
        font-weight: bold;
        font-family: "Helvetica Neue";
        color: $color2;
        text-align: center;
        text-decoration: underline;
        @include tab {
            font-size: 40px;
        }
        @include sp {
            font-size: 23px;
        }

    }

    &__top {
        width: 100%;
        height: 100px;
        background-color: $bgColor;
        position: absolute;
        top: 0;
        left: 0;
        @include sp {
            height: 60px;
        }
    }

    &__bottom {
        width: 100%;
        height: 100px;
        background-color: $bgColor;
        position: absolute;
        bottom: 0;
        left: 0;
        @include sp {
            height: 60px;
        }
    }
}

.thanks {
    width: 100%;
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    line-height: 0;
    overflow-y: hidden;
    &:before {
        content: "";
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }


    &__txt {
        text-align: center;
        line-height: 100vh;
        color: $color1;
        font-size: 16px;
        @include sp {
            font-size: 13px;
            line-height: 90vh;
        }
    }

    &__inner {
        position: relative;
    }
}

.footer {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: $bgColor;
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    @include sp {
        height: 40px;
    }
}

.copyright {
    font-size: 18px;
    font-weight: bold;
    color: $color1;
    line-height: 80px;
    text-align: right;
    @include tab {
        font-size: 14px;
    }
    @include sp {
        font-size: 12px;
        line-height: 40px;
    }
}

.thanks__moon {
    position: absolute;
    top: 80px;
    right: 130px;
    @media screen and (max-width: 1024px) {
        width: 40%;
        top: 90px;
        right: 40px;
    }
    @include sp {
        width: 40%;
        top: 90px;
        right: 40px;
    }
}

.thanks__img {
    width: 290px;
    object-fit: contain;
    position: absolute;
    bottom: 80px;
    left: 80px;
    @media screen and (max-width: 1024px) {
        width: 220px;
        bottom: 150px;
    }
    @include sp {
        width: 160px;
        bottom: 92px;
        left: 20px;
    }
}

.none {
    width: 100%;
    visibility: hidden;
}





